<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学生管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body class="logback">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">学生管理系统</span>
            </button>
            <a class="navbar-brand" href="#">学生管理系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <!--                <div class="form-group">-->
                <!--                    <input type="text" class="form-control" placeholder="搜索问题">-->
                <!--                </div>-->
                <!--                <button type="submit" class="btn btn-default">搜索</button>-->
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if =" ${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=5de0bad5ae0612186658&redirect_uri=http://localhost:8080/callback&response_type=code&state=1">登录</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main logback">
    <div class="row">
        <form class="form-horizontal" style="margin-top: 150px;margin-left: 500px;margin-bottom: 300px" action="/log" method="post">
            <input type="hidden" name="id" th:value="${id}">
            <h3 style="margin-left: 90px">欢迎来到学生管理系统</h3>
            <div class="form-group" style="margin-top: 15px">
                <label for="name" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="用户名" style="width: 20%" th:value="${name}" id="name" name="name"
                           autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="密码" style="width: 20%" th:value="${password}" id="password" name="password"
                           autocomplete="off">
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <div class="col-sm-offset-2 col-sm-10">-->
<!--                    <div class="checkbox">-->
<!--                        <label>-->
<!--                            <input type="checkbox"> Remember me-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group"  style="margin-left: 150px;">
                <button type="submit" class="btn btn-success btn-publish">
                    登录
                </button>
                <a href="/registered" class="btn btn-warning btn-publish" role="button" style="margin-left: 15px">注册</a>
            </div>
            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 th:text="${error}"
                 th:if="${error != null}"
                style="width: 50%">
            </div>

        </form>
    </div>
</div>
</body>
</html>